@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1240px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button::after {
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  content: "";
  background-color: #ffe17f;
}

.button:hover::after {
  top: 0;
  height: 100%;
  margin-top: 0;
}

.button:focus-visible {
  outline: 2px solid #af4fff;
}

.button:active::after {
  background-color: #ffcc33;
}

.button:disabled {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #ffe17f;
}

.main-navigation {
  width: 1040px;
  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 22px;
  color: #000000;
}

.logo-link {
  display: block;
  width: 145px;
  height: 36px;
}

.logo-img {
  display: block;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus-visible {
  outline: 2px solid #7b61ff;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-link-header {
  position: absolute;
  top: 18px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
}

.user-menu:not(:last-child) {
  margin-bottom: 30px;
}

.search {
  position: relative;
  display: flex;
  width: 517px;
  margin-right: 26px;
}

.search input {
  width: 358px;
  padding: 7px 16px 8px 45px;
  box-sizing: border-box;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: inherit;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: top 10px left 15px;
  border: 2px solid #000000;
  border-right: none;
  border-radius: 20px 0 0 20px;
  outline: none;
}

.search label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.search input:disabled {
  opacity: 0.3;
}

.search button {
  max-width: 160px;
  padding: 7px 55px 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: inherit;
  background-color: inherit;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  border-collapse: collapse;
  outline: none;
}

.search button:hover {
  color: #ffffff;
  background-color: #000000;
}

.submit-button-wrapper:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.search button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search button:disabled {
  opacity: 0.3;
}

.search input::placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  color: inherit;
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.account-list {
  width: 231px;
}

.user-tools {
  width: 241px;
  margin-left: auto;
}

.navigation-list a {
  position: relative;
  display: block;
  padding: 5px 0 5px 22px;
  color: inherit;
  text-decoration: none;
}

.navigation-list .logout {
  padding-left: 0;
  color: rgba(0, 0, 0, 0.3);
}

.navigation-list a:hover {
  opacity: 0.6;
}

.navigation-list a:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-list a:active {
  opacity: 0.3;
}

.account-list a {
  padding-left: 27px;
}

.navigation-list .compare-link {
  padding-left: 22px;
}


.login {
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.compare-link {
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.navigation-list .cart-link {
  position: relative;
  padding-left: 0;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 14px 10px;
}

.cart-counter {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 21px;
  padding: 4px 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.cart {
  position: relative;
}

.popover-cart {
  position: absolute;
  top: calc(100% + 6px);
  right: -80px;
  z-index: 2;
  display: none;
  width: 320px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}

.cart-items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-items-list .cart-item {
  display: flex;
  margin: 0;
  padding: 20px;
}

.cart-item + .cart-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item a {
  display: flex;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.cart-item img {
  margin-right: 23px;
}

.cart-item h3 {
  max-width: 170px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.cart-delete-button {
  position: relative;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.cart-delete-button:hover {
  opacity: 0.6;
}

.cart-delete-button:active {
  opacity: 0.3;
}

.cart-delete-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 20px;
  background-color: #1a1a1a;
}

.cart-total-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.cart-total dt {
  margin-right: 5px;
  margin-bottom: 5px;
}

.cart-total dd {
  margin: 0;
}

.popover-cart .popover-cart-button {
  display: block;
  margin: 15px 20px;
  padding: 15px 23px;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
}

.popover-cart-button::after {
  display: none;
}

.popover-cart .popover-cart-button:hover {
  color: #000000;
  background-color: #ffe17f;
  opacity: 1;
}

.popover-cart .popover-cart-button:active {
  color: rgba(0, 0, 0, 0.6);
  background-color: #ffe17f;
  opacity: 1;
}

.popover-cart .popover-cart-button:disabled {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.1;
}

.popover-cart .popover-cart-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-cart::before {
  position: absolute;
  top: -5px;
  left: 153px;
  width: 14px;
  height: 6px;
  content: "";
  background-image: url("../img/tooltip-triangle.svg");
  background-repeat: no-repeat;
}

.navigation-list .check-out-btn {
  padding-left: 15px;
}

.info-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info-item:not(:last-child) {
  margin-right: 46px;
}

.info-item:last-child {
  margin-right: -0.2em;
}

.info-item > a {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.info-item a:not(.header-catalog-link):hover {
  opacity: 0.6;
}

.info-item a:not(.header-catalog-link):active {
  opacity: 0.3;
}

.info-item a:focus-visible {
  outline: none;
}

.info-list .header-catalog {
  position: relative;
  z-index: 2;
  max-width: 550px;
  margin-right: auto;
}

.header-catalog-link {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-catalog-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.header-catalog-link::after {
  display: block;
  width: 50px;
  height: 51px;
  margin-left: 18px;
  content: "";
  background-image: url("../img/catalog-closed.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-catalog-link:hover::after {
  opacity: 1;
}

.header-catalog:focus-within .header-catalog-link::after {
  background-image: url("../img/catalog-opened.svg");
}

.submenu {
  position: absolute;
  top: calc(100% + 5px);
  left: -60px;
  z-index: 1;
  display: none;
  grid-template-columns: 200px 160px 200px;
  grid-template-rows: repeat(3, min-content);
  column-gap: 52px;
  row-gap: 6px;
  width: 1040px;
  min-height: 145px;
  margin: 0 auto;
  padding: 0 60px 20px;
  background-color: #ffe17f;
  list-style-type: none;
}

.header-catalog:focus-within .submenu {
  display: grid;
}

.submenu a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.submenu a:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.submenu li:nth-child(2),
.submenu li:nth-child(3) {
  grid-column: 1;
}

.submenu li:nth-child(4),
.submenu li:nth-child(5) {
  grid-column: 2;
}

.submenu li:nth-child(4) {
  grid-row: 1;
}

.submenu li:nth-child(5) {
  grid-row: 2;
}

.submenu li:nth-child(6) {
  grid-column: 3;
  grid-row: 1;
}

.sub-menu-active,
.info-item-active {
  position: relative;
}

.sub-menu-active::after,
.info-item-active::after {
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
  background-color: #000000;
}

.info-item-active::after {
  height: 2px;
  bottom: -6px;
}

.sub-menu-active::after {
  height: 1px;
  bottom: -2px;
}

.info-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.main-container {
  flex-grow: 1;
}

.page-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.slider {
  position: relative;
  margin-bottom: 33px;
}

.slider-list {
  margin: 0;
  padding: 0;
  counter-reset: slider 0;
}

.slider-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#ffe17f 113px, #ffffff 113px);
  counter-increment: slider 1;
}

.slider-item::before {
  position: absolute;
  top: -30px;
  right: 49px;
  content: "0" counter(slider);
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 180px;
  line-height: 180px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
}

.slider-item:not(:first-child) {
  display: none;
}

.slider-img {
  position: relative;
  top: -40px;
  left: 0;
  display: block;
  width: 560px;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  background-image: url("../img/slider-arrow.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider-img-wrapper {
  position: relative;
}

.slider-buttons {
  position: absolute;
  top: 174px;
  left: 30px;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.slider-button-next {
  transform: rotate(180deg);
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:disabled {
  opacity: 0.1;
}

.slider-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-content-wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  padding-top: 85px;
}

.slider-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.slider-description {
  margin-top: 0;
  margin-bottom: 50px;
}

.slider-item-character {
  display: flex;
  flex-wrap: wrap;
  order: 2;
}

.slider-item-character div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.slider-item-button {
  order: 1;
  margin-bottom: 41px;
  padding: 10px 37px;
}


.slider-item dd {
  order: -1;
  margin-left: 0;
  margin-bottom: 6px;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.slider-item dt {
  font-size: 16px;
}

.slider-pagination {
  position: absolute;
  top: 338px;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 20px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:disabled {
  opacity: 0.1;
}

.slider-pagination-button:focus-visible::after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog {
  margin-bottom: 85px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 20px 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  width: 160px;
}

.catalog-item a {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.catalog-item a::before {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  content: "";
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 50%;
}

.catalog_vr a::before {
  background-image: url("../img/virtual.svg");
}

.catalog_monopode a::before {
  background-image: url("../img/mono.svg");
  background-position: bottom;
}

.catalog_action-cam a::before {
  background-image: url("../img/action.svg");
}

.catalog_fitness a::before {
  background-image: url("../img/fitnes.svg");
}

.catalog_clocks a::before {
  background-image: url("../img/clocks.svg");
}

.catalog_quadro a::before {
  background-image: url("../img/quadcopter.svg");
}

.catalog-item a:hover::before {
  background-color: #ffc700;
}

.catalog-item a:active {
  opacity: 0.3;
}

.catalog-item a:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services {
  margin-bottom: 70px;
  background-color: #f0f0f0;
  background-image: linear-gradient(#ffffff 102px, #f0f0f0 102px);
}

.services .page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 72px;
}

.services-button-list {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 62px;
  padding-bottom: 65px;
  border-right: 7px solid #000000;
  list-style-type: none;
}

.services-button-list li:not(:last-child) {
  margin-bottom: 35px;
}

.services-button {
  width: 160px;
  padding: 10px 17px;
  font-size: 18px;
  line-height: 20px;
}

.services-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-item-active {
  background-color: #000000;
}

.services-button-active::after {
  display: none;
}

.services-button-active {
  color: #ffe17f;
}

.services-button-active:hover {
  color: rgba(255, 225, 127, 0.5);
}

.services-button-active:active {
  color: rgba(255, 225, 127, 0.3);
}

.services-item-active:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-button-active:focus-visible {
  outline: none;
}

.services-list {
  width: 757px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-list li {
  padding-top: 72px;
  background-repeat: no-repeat;
  background-position: top 76px right 63px;
}

.services-delivery {
  background-image: url("../img/delivery.svg");
}

.services-guarantee {
  background-image: url("../img/guarantee.svg");
}

.services-credit {
  background-image: url("../img/credit.svg");
}

.services-list li:not(:first-child) {
  display: none;
}

.services-list h3 {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.services-description {
  width: 475px;
}

.promo {
  position: relative;
  display: block;
  margin-bottom: 70px;
  padding: 38px 125px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: #f0f0f0;
}

.promo::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  content: "";
  background-color: #ffe17f;
  background-image: url("../img/promo-delivery.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.promo::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 125px;
  height: 100%;
  content: "";
  background-image: url("../img/information.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.3;
}

.promo:hover::before {
  background-color: #ffc700;
}

.promo:hover::after {
  opacity: 1;
}

.promo:active {
  opacity: 0.3;
}

.promo:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.main-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about {
  position: relative;
  width: 520px;
  padding-top: 47px;
}

.contacts {
  position: relative;
  width: 532px;
  padding-top: 47px;
}

.about::before,
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  content: "";
  background-color: #000000;
}

.about-title {
  margin-top: 0;
  margin-bottom: 47px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.about-description {
  width: 480px;
  margin-top: 0;
  margin-bottom: 31px;
}

.about-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.about-list li {
  position: relative;
  margin: 0;
  margin-bottom: 19px;
  padding-left: 36px;
}

.about-list li::before {
  position: absolute;
  top: 50%;
  left: 2px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  content: "";
  background-color: #ffc700;
  border-radius: 50%;
}

.about-button {
  padding-left: 22px;
  padding-right: 22px;
}

.contacts-button {
  padding-left: 32px;
  padding-right: 32px;
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 47px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.contacts-description {
  width: 497px;
  margin-top: 0;
  margin-bottom: 31px;
}

.contacts-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-address p {
  margin: 0;
  padding: 0;
}

.contacts-phone {
  color: inherit;
}

.contacts-phone:hover {
  opacity: 0.6;
}

.contacts-phone:active {
  opacity: 0.3;
}

.contacts-phone:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.newsletter {
  padding-top: 64px;
  padding-bottom: 56px;
  background-color: #f0f0f0;
}

.newsletter-title {
  width: 350px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.newsletter-description {
  align-self: flex-end;
  width: 553px;
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.newsletter-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-form {
  display: flex;
  width: 810px;
}

.newsletter-email {
  width: 557px;
  padding: 12px 18px;
  box-sizing: border-box;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  outline: none;
}

.newsletter-email-error {
  border-bottom: 3px solid #ff3d3d;
}

.newsletter-email:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.newsletter-email:focus-visible {
  background-color: #dcdcdc;
}

.newsletter-email:disabled {
  opacity: 0.3;
}

.newsletter-free {
  max-width: 300px;
  margin: 0;
  padding-left: 32px;
  background-image: url("../img/done.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.newsletter-form button {
  max-width: 300px;
  padding: 15px 36px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: 3px solid #c4c4c4;
  cursor: pointer;
}

.newsletter-form button:hover {
  border-color: #000000;
}

.newsletter-form button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.newsletter-form button:active {
  border-color: #000000;
  opacity: 0.3;
}

.page-footer {
  padding-top: 62px;
  padding-bottom: 65px;
  color: #ffffff;
  background-color: #444444;
}

.footer-logo-link {
  margin-bottom: 35px;
}

.footer-middle {
  display: flex;
  align-items: flex-start;
  margin-bottom: 47px;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer-bottom::before {
  width: 80px;
  height: 7px;
  margin-top: -11px;
  content: "";
  background-color: #ffc500;
}

.page-footer-address {
  width: 238px;
  margin-right: 113px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  width: 454px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-info li:not(:last-child) {
  margin-right: 32px;
}

.footer-info a {
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.footer-info a:hover {
  color: #ffc700;
}

.footer-info a:hover::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 98%;
  height: 2px;
  content: "";
  background-color: #ffc700;
}

.footer-info a:active {
  opacity: 0.3;
}

.footer-info a:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-phone {
  max-width: 250px;
  margin-top: 8px;
  margin-left: auto;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  word-spacing: 1px;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:hover::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 98%;
  height: 2px;
  content: "";
  background-color: #ffc700;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-phone:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-social {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  max-width: 195px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social a {
  display: block;
  min-width: 40px;
  min-height: 40px;
  line-height: 0;
}

.footer-social-link:hover circle {
  fill: #ffc700;
  fill-opacity: 1;
}

.footer-social-link:active path {
  fill-opacity: 0.3;
}

.footer-social a:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-social li {
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.copyright {
  display: block;
  justify-self: end;
  align-self: start;
  width: 115px;
  height: 33px;
}

.copyright:hover path {
  fill: #ffffff;
}

.copyright:active path {
  fill-opacity: 0.3;
}

.copyright:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/*Модальные окна*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-container-close {
  display: none;
}

.modal-delivery {
  position: relative;
  width: 760px;
  margin: auto;
  padding: 62px 70px 60px;
  background-color: #ffffff;
  border: 10px solid #000000;
}

.modal-close {
  position: absolute;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-image: url("../img/close-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 0.6;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.delivery-title {
  margin-top: 0;
  margin-bottom: 42px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.modal-delivery-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.delivery-form label {
  margin-bottom: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.02em;
}

.modal-delivery input {
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  background-color: #f0f0f0;
  border: none;
}

.modal-delivery input:hover {
  background-color: #dcdcdc;
}

.modal-delivery input:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-delivery input:disabled {
  opacity: 0.3;
}

.delivery-name {
  width: 360px;
  background-image: url("../img/form-name.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
}

.delivery-email {
  width: 360px;
  background-image: url("../img/form-email.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
}

.delivery-goods {
  width: 540px;
}

.modal-delivery .input-error {
  box-shadow: 0 0 0 2px inset #ff3d3d;
}

.input-help {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.input-help-error {
  color: #ff3d3d;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  margin-top: -3px;
  background-color: #ffe17f;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.quantity-label {
  position: relative;
}

.tooltip-text {
  position: absolute;
  top: 35px;
  left: -19px;
  z-index: 2;
  display: none;
  width: 164px;
  margin: 0;
  padding: 19px 17px 19px 19px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
}

.tooltip-text::before {
  position: absolute;
  top: -6px;
  right: 42px;
  width: 14px;
  height: 6px;
  content: "";
  background-image: url("../img/tooltip-triangle.svg");
  background-repeat: no-repeat;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.quantity-wrapper {
  display: flex;
}

.quantity-error {
  box-shadow: 0 0 0 2px #ff3d3d;
}

.quantity-button,
.delivery-quantity {
  width: 60px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.quantity-wrapper .delivery-quantity {
  position: relative;
  z-index: 1;
  padding: 20px 0;
  appearance: textfield;
}

.delivery-quantity::-webkit-outer-spin-button,
.delivery-quantity::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.quantity-button {
  padding: 0;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.quantity-decrease {
  background-image: url("../img/quantity-decrease.svg");
}

.quantity-increase {
  background-image: url("../img/quantity-increase.svg");
}

.quantity-button:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #ebebeb;
}

.quantity-button:focus-visible {
  border: 2px solid #af4fff;
  outline: none;
}

.quantity-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
}

.quantity-button:disabled {
  background-color: #f0f0f0;
  opacity: 0.3;
}

.quantity-wrapper label {
  max-width: 145px;
  margin-right: 10px;
}

.delivery-form-button {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

/*Страница каталога*/

.main-inner {
  padding-top: 35px;
  color: #000000;
}

.inner-container {
  width: 1040px;
  margin: 0 auto;
}

.inner-columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.page-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.breadcrumbs {
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 38px;
}

.breadcrumbs li:not(:first-child)::before {
  position: absolute;
  top: 50%;
  left: -16px;
  width: 4px;
  height: 7px;
  margin-top: -3px;
  margin-left: -2px;
  content: "";
  background-image: url("../img/breadcrumbs-arrow.svg");
}

.breadcrumbs a {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus-visible {
  outline: 2px solid #af4fff;
}

.breadcrumbs a:active {
  opacity: 0.3;
}

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-columns {
  width: 840px;
}

.catalog-filter {
  width: 200px;
  padding: 25px 60px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 57px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-filter legend {
  width: 200px;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 12px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  border-top: 2px solid #000000;
}

.filter-price legend {
  margin-bottom: 30px;
}

.catalog-filter-group {
  position: relative;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.filter-price {
  position: relative;
}

.filter-price label {
  display: flex;
  max-width: 100px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 11px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  background-color: #000000;
  height: 2px;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus-visible::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.toggle-min {
  top: -9px;
  left: -9px;
}

.toggle-max {
  top: -9px;
  right: -9px;
}

.range-inputs-wrapper {
  position: relative;
  left: -15px;
  display: flex;
}

.range-inputs-wrapper input {
  margin-left: 2px;
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: textfield;
  cursor: pointer;
}

.range-inputs-wrapper input:hover {
  background-color: #dcdcdc;
}

.range-inputs-wrapper label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-inputs-wrapper input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.range-inputs-wrapper input::-webkit-outer-spin-button,
.range-inputs-wrapper input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.range-input-min input,
.range-input-max input {
  max-width: 50px;
}

.range-input-min {
  margin-right: 30px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.color-list li:not(:last-child) {
  margin-bottom: 17px;
}

.bluetooth-list li:not(:last-child) {
  margin-bottom: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input:focus-visible + .control-mark::after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  outline: 2px solid #af4fff;
  outline-offset: 3px;
}

.control-input:disabled + .control-mark,
.control-input:disabled ~ .control-label {
  opacity: 0.1;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  content: "";
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
}

.control-input[type="checkbox"]:checked + .control-mark,
.control-input[type="radio"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
  border-radius: 50%;
}

.catalog-filter-button {
  padding-left: 48px;
  padding-right: 48px;
  font-size: 18px;
}

.sorting-wrapper {
  display: flex;
  padding: 20px 40px;
}

.sorting {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.sorting .form-title {
  display: block;
  margin-right: 190px;
  margin-bottom: 0;
}

.sorting-control {
  width: 157px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: transparent;
  border: none;
  outline: none;
}

.sorting-control:hover {
  opacity: 0.6;
}

.sorting-control:active {
  opacity: 0.3;
}

.sorting-control:disabled {
  opacity: 0.1;
}

.sorting-control:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.sorting-button {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.sorting-button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url("../img/sorting-min-max.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.2;
}

.sorting-button-expensive::before {
  transform: rotate(180deg);
}

.sorting-button:hover::before {
  opacity: 0.5;
}

.sorting-button:active::before {
  opacity: 1;
}

.sorting-button:focus-visible {
  z-index: 1;
  outline: 2px solid rgba(175, 79, 255, 1);
  outline-offset: 2px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 44px 40px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
}

.products-list-wrapper {
  padding: 70px 40px 78px;
  background-color: #ffffff;
}

.products-item {
  position: relative;
}

.products-item-new::before {
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  content: "";
  background-image: url("../img/product-new.svg");
  background-repeat: no-repeat;
}

.products-item:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  content: "";
  background-color: #f0f0f0;
  opacity: 0.8;
}

.products-item:hover {
  cursor: pointer;
}

.products-item:hover .product-description {
  opacity: 0.6;
}

.products-item:active .product-description {
  opacity: 0.3;
}

.products-item:active .product-button::after {
  background-color: #ffc700;
}

.products-item:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-title {
  max-width: 235px;
  margin: 0;
  margin-right: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.product-price {
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.product-image {
  display: block;
  margin-bottom: 32px;
}

.product-button {
  position: absolute;
  top: 170px;
  left: 70px;
  display: none;
  padding-left: 40px;
  padding-right: 40px;
}

.products-item:hover .product-button {
  display: block;
}

.load-more {
  width: 100%;
  margin-bottom: 44px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: 3px solid #e5e5e5;
}

.load-more:hover {
  border-color: #000000;
}

.load-more:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.load-more:active {
  border-color: #000000;
  opacity: 0.3;
}

.load-more:disabled {
  border-color: #e5e5e5;
  opacity: 0.3;
}

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  list-style-type: none;
}

.pagination-prev a,
.pagination-next a {
  display: block;
  max-width: 140px;
  padding: 25px;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 22px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.pagination-prev a:hover,
.pagination-next a:hover {
  background-color: #dcdcdc;
}

.pagination-prev a:active,
.pagination-next a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #dcdcdc;
}

.pagination-prev a:focus-visible,
.pagination-next a:focus-visible {
  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-prev {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

.pagination-item a {
  display: block;
  min-width: 40px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-item a:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-item a:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-item a:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-item .pagination-current {
  color: rgba(68, 68, 68, 0.6);
}
